.container {
  display: flex;
  background-color: #f0f2f5;
  padding: 10px 5px;
  border-right: 1px solid #d1d7db;
}

.displaypic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 13px;
}
.displaypic > img {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
}

.profileinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileinfo > .profileName {
  font-size: 18px;
  color: #3b4a54;
}

.profileinfo > .profileInfo {
  font-size: 14px;
  line-height: 20px;
  color: rgb(134, 150, 160);
}
