.container {
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
}

.inputtext {
  flex: 9 1 0;
}

.inputtext > input {
  padding: 9px 12px 11px;
  margin: 10px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #fff;
}

.inputtext > input:focus {
  outline: none;
}

.send {
  flex: 1 1 0;
}

.send > button {
  border-color: none;
  border: none;
  outline: none;
  z-index: 2;
}

.send > button:hover {
  cursor: pointer;
}
