.container {
  padding: 10px 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.receiver {
  justify-content: flex-start;
}

.text {
  background-color: antiquewhite;
  border-radius: 3px;
  padding: 5px 20px;
  max-width: 60%;
}
